body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 125px;
    /* background-color: blueviolet; */
    box-shadow: -6px -9px 5px 10px gray;
    /* box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2); */
}


input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 200px;
    box-sizing: border-box;
    font-size: .75rem;
}
#header-part ul{
display: flex;
list-style: none;
justify-content: space-evenly;
}
#header-part ul li{
    margin-left: -130px;
}
#header-part img{
    width: 13.75rem;
    height: 7.25rem;
    margin-top: -39px;
    margin-right: 30px;
}
.input-part input {
    padding: 8px 10px;
    width: 436px;
    border: 0.5px solid rgb(202, 199, 199);
    border-radius: 3px;
    /* margin-top: 28px; */
    margin-left: -82px;
    margin-top: -3px;
    margin-right: 15px;
    /* background: transparent; */
}

.input-part input::placeholder {
    padding: 0 0 0 20px;
    color: #e3e2e2;
    line-height: 20px;
    margin-left: 3px;
    font-size: 12px;
    /* font-weight: ; */
    /* text-shadow: 2px 2px 2px rgba(172, 170, 170, 0.5); */
}

#search-icon {
    margin-top: 12px;
    position: absolute;
    margin-left: -76px;
    font-size: 13px;
    color: #3c8031;
    margin-right: 21px;
}
.location-btn{
    
    /* display: flex; */
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 5px 8px;
    height: 40px;
    border-radius: 0.25rem;
    font-size: 11px;
    line-height: 1rem;
    --text-opacity: 1;
    color: rgba(96, 96, 96, var(--text-opacity));
    text-align: left;
    --bg-opacity: 1;
    background-color: rgba(238, 238, 238, var(--bg-opacity));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
    margin-left: 10px;
    font-weight: bold;
}
#compass{
    color: black;
    font-size: 20px;
    margin-top: 4px;
}
.sign-in-btn{
    height: 40px;
    --bg-opacity: 1;
    background-color: rgba(32, 32, 32, var(--bg-opacity));
    --border-opacity: 1;
    border: none;
    width: 93px;
    /* border-color: rgba(32, 32, 32, var(--border-opacity)); */
    font-size: 0.625rem;
    color: white;
    /* margin-top: 3px; */
    padding: 0px 20px;
    border-radius: 3px;
    margin-left: 12px;
}
#basket{
    background: red;
    color: white;
    width: 24px;
    padding: 4px;
    border-radius: 34px;
}
#basket-div{
    background-color: rgb(242, 207, 207);
    padding: 6px;
    border-radius: 3px;
}
#oder-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -60px;
}
#oder-list li {
    list-style: none;
    /* margin-left: -91px; */
}
#oder-list li a{
    text-decoration: none;
}
#oder-list li button{
    width: 110px;
    padding: 0px 3px;
    color: white;
    background-color: #6a9f51;
    border: none;
    text-align: left;
    margin-left: 20px;
    /* margin-left: 29px; */
}
#down-icon{
    margin-left: 30px;
    /* margin-top: 2px; */
}
#oder-list a {
    color: rgb(32,32,32);
    font-size: 14px;
}
#oder-list a img{
    width: 24px;
    height: 24px;
    margin-right: -43px;
    margin-top: -12px;
    margin-left: -70px;
}
/* .carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-slide {
    display: none;
  }
  
  .carousel-slide img {
    width: 100%;
    height: auto;
  }
  
  .carousel-slide.active {
    display: block;
  } */
  
main {
    width: 100%;
    height: 300px;
    /* background-color: blue; */
}
main img{
    /* height: 100px; */
    width: 102%;
    margin: 17px 0px 20px -11px;
}
nav{
    height: 60px;
    width: 100%;
    /* background-color: #3c8031; */

}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: 20px;
}
nav ul li {
    
    margin: 2px -2px 2px -62px;
}
nav ul li a{
    text-transform: none;
    margin: 2px 40px;
}
nav ul li a img{
    width: 138px;
    height: 59px;
}
.smart-basket{
    /* background-color: rgb(175, 22, 22); */
    margin-top: 5px;
    width: 100%;
    height: 510px;
    /* background: gray; */
}
.smart-basket h3{
    font-size: 1.25rem;
    font-weight: 700;
    --text-opacity: 1;
    color: rgba(32, 32, 32, var(--text-opacity));
    line-height: 1.1875;
    margin: 20px;
}
.card{
    background-color: white;
    width:210px; 
  height: 194px;
  margin: 0;
}


.img-div{
    /* padding: 1.25rem;
    width: 12.125rem;
    height: 12.125rem;
    background-color: white; */
   
}
.img-div img {
     margin-left: 5px;
    /* border: 0.5px solid rgb(246, 242, 242); */
    /* box-shadow: 3px 2px 10.2px 3.3px #e2dddd; */
    /* border-color: rgba(238, 238, 238, var(--tw-border-opacity)); */
    width: 190px;
    height: 161px;
    margin-top: 6px;
    padding: 13px;
    border: 1px solid rgb(245 238 238); /* Red border with full opacity */
            -webkit-background-clip: padding-box; /* For Safari */
            background-clip: padding-box; /* Firefox 4+, Opera, Chrome */

}
.card-body a{
    overflow: hidden;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 16px;
    margin-top: -15px;
    line-height: 1.33;
    --text-opacity: 1;
    color: rgba(144, 144, 144, var(--text-opacity));
    text-decoration: none;
}

.card-body h3{
    color: rgb(108, 106, 106 var(--tw-text-opacity));
    margin-top: -15px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 15px;
    width: 100%;
    margin-left: 0px;
    display: block;
}
.card-body #kg-btn{
    width: 100%;
    border: 0.5px solid rgb(246, 242, 242);
    border-color: rgba(238, 238, 238, var(--tw-border-opacity));
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: 100;
}
.card-body #prices{
    font-size: 17px;
    font-weight: bold;
    margin-top: 3px;
}
.card span{
    font-size: 13px;
    color: #716a6a;
    font-weight: 100;
    margin-left: 12px;
    text-decoration: line-through;

}

#secound-btn{
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(228, 241, 204) 50%);
    border-color: rgb(173, 213, 102);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0.188rem 0.375rem 0.188rem 0.5rem;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.25rem;
    justify-content: space-around;
    font-size: 12px;
}

#add-part{
    display: flex;
    
}
.card-body #square{
    width: 20px;
    height: 20px;
    color: white;
    border: solid black;
    font-size: 37px;
}
.add-btn{
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 600;
    letter-spacing: 0.25px;
    border-width: 2px;
    border-radius: 0.25rem;
    --bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--bg-opacity));
    --border-opacity: 1;
    border-color: rgba(204, 0, 0, var(--border-opacity));
    --text-opacity: 1;
    color: rgba(204, 0, 0, var(--text-opacity));
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.33;
    width: 100%;
    margin-left: 15px;
    margin-top: 20px;
}

.row-part{
    margin-bottom: 4px;
} 
#bank-offers{
    width: 100%;
    height: 230px;
    margin-top: -30px;

    /* background-color: #716a6a; */
}
#bank-offers h3{
    font-size: 22px;
    font-weight: 700;
    --text-opacity: 1;
    color: rgba(32, 32, 32, var(--text-opacity));
    line-height: 1.1875;
    margin: 20px -1px 10px 0px;
}

.row-cont img{
    width: 206px;
    height: 148px;
    margin-left: 10px;
 margin-right: -10px;
 margin-top: 4px;
 cursor: pointer;
 border-radius: 4px;
}

.row-cont img:hover{
    box-shadow: 1px 1px 4px 2px #eeecec
}

#best-sellers{
width: 100%;
height: 530px;
margin-top: -30px;
/* background-color: #3c8031; */
}
#best-sall-h3{
    font-size: 1.25rem;
    font-weight: 700;
    --text-opacity: 1;
    color: rgba(32, 32, 32, var(--text-opacity));
    line-height: 1.1875;
    margin: 20px;
}
#top-offers{
    width: 100%;
    height: 230px;
    margin-top: 10px;
}
#top-offers h3{
    font-size: 22px;
    font-weight: 700;
    --text-opacity: 1;
    color: rgba(32, 32, 32, var(--text-opacity));
    line-height: 1.1875;
    margin: 20px -1px 10px 0px;
}
#fruits-veg{
    width: 100%;
    height: 230px;
    margin-top: 10px;
}
#fruits-veg h3{
    font-size: 22px;
    font-weight: 700;
    --text-opacity: 1;
    color: rgba(32, 32, 32, var(--text-opacity));
    line-height: 1.1875;
    margin: 20px -1px 10px 0px;
}
#daily-staples{
    width: 100%;
    height: 230px;
    margin-top: 10px;
}
#daily-staples h3{
    font-size: 22px;
    font-weight: 700;
    --text-opacity: 1;
    color: rgba(32, 32, 32, var(--text-opacity));
    line-height: 1.1875;
    margin: 20px -1px 10px 0px;
}
#daily-staples img{
    width: 136px;
    height: 102px;
}
#beverages {
    width: 100%;
    height: 230px;
    margin-top: -30px;
}
#beverages h3{
    font-size: 22px;
    font-weight: 700;
    --text-opacity: 1;
    color: rgba(32, 32, 32, var(--text-opacity));
    line-height: 1.1875;
    margin: 20px -1px 10px 0px;
}

#beverages img{
    width: 136px;
    height: 102px;
}

#cleaning{
    width: 100%;
    height: 230px;
    margin-top: -30px;
}

#cleaning h3{
    font-size: 22px;
    font-weight: 700;
    --text-opacity: 1;
    color: rgba(32, 32, 32, var(--text-opacity));
    line-height: 1.1875;
    margin: 20px -1px 10px 0px;
}
#cleaning img{

}
#beaut-part{
    width: 100%;
    height: 230px;
    margin-top: 10px;
}
#beaut-part h3{
    font-size: 22px;
    font-weight: 700;
    --text-opacity: 1;
    color: rgba(32, 32, 32, var(--text-opacity));
    line-height: 1.1875;
    margin: 20px -1px 10px 0px;
}
#beaut-part img{
    width: 136px;
    height: 102px;
}

#kitchen-part{
    width: 100%;
    height: 230px;
    margin-top: 10px;
}

#kitchen-part h3{

    font-size: 22px;
    font-weight: 700;
    --text-opacity: 1;
    color: rgba(32, 32, 32, var(--text-opacity));
    line-height: 1.1875;
    margin: 20px -1px 10px 0px;
}

#kitchen-part img{

    width: 136px;
    height: 102px;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-slide {
    display: none;
  }
  
  .carousel-slide img {
    width: 910px;
    height: 331px;
    margin-left: 110px;
    box-sizing: border-box;
    border-radius: 30px;
  }
  
  .carousel-slide.active {
    display: block;
  }
  #carousel-part{
    height: 365px;
    width: 100%;
    /* background-color: #3c8031; */
  }
  footer{
    height: 500px;
    width: 100%;
    margin-left: 110px;
  }
  footer h1{
    color: #202020;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
  footer p{
    line-height: 18px;
    font-size: 14px;
    color: #606060;
  }
  #secound-footer{
    height: 400px;
    width: 100%;
    margin-top: -40px;
    margin-left: 0px;
    margin-right:0px;
  background-color: #202020;
}
.container{
    margin-right: 2px;
}

.footer-about-part a{
    /* width: 100%; */
    /* height: 100px; */
    text-decoration: none;
    margin-left: 160px;
    color: #ccc;
    font-size: 14px;
}
.footer-about-part p{
    margin-left: 160px;
    color: #ccc;
    font-size: 15px;
    font-weight: bold;
    margin-top: 8px;
}

